.App {
  text-align: center;
  
  
}
.container{
  display:flex;
  flex-wrap: wrap;
  gap:1rem;
  margin: 25px;
  padding:20px;
  justify-content: center;
  
}
.heading{
  display: block;
  text-align: center;
  margin: 25px;
  padding:20px;
  background-color: rgba(128, 128, 128, 0.17);
}

.cards{
  border: 1px solid black;
}

